<IfModule mod_rewrite.c>
    Options -Indexes
    Options -MultiViews
    RewriteEngine On
    RewriteRule (majima|config|var|vendor) index.php [PT,L,QSA]
    RewriteCond %{HTTP:Authorization} ^(.+)$
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    RewriteCond %{REQUEST_URI} !(\/(web|upload)\/)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [PT,L,QSA]
</IfModule>

# Disables download of configuration
<Files ~ "\.(tpl|json|sql)$">
    # Deny all requests from Apache 2.4+.
    <IfModule mod_authz_core.c>
          Require all denied
    </IfModule>

    # Deny all requests from Apache 2.0-2.2.
    <IfModule !mod_authz_core.c>
        Deny from all
    </IfModule>
</Files>